<body>
    <div >
        <p>
            <!-- UNIVERSIDAD DE SAN CARLOS DE GUATEMALA -->
            <span>
                Ordenamiento Rapido
            </span>
            &mdash; ESTRUCTURA DE DATOS &mdash;
        </p>
    </div >   
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container mt-2" ID="form-modal">
        <div class="row opciones p-2">

            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                    
                    <div class="input-group-append">
                        <button class="btn btn-secondary " type="button" >Ordenamiento Burbuja</button>
                    </div>
                </div>
            </div>


            


        


        </div>
    
        <div style="display: block">
            
             <canvas #myChart id="myChart" height="90">
            </canvas>
          </div>

        

    </div>
    
</body>