<body>
    <div >
        <p>
            <span>
                Arbol AVL
            </span>
            &mdash; ESTRUCTURA DE DATOS &mdash;
        </p>
    </div >   
    <br><br><br><br><br><br><br><br>
    <div class="container mt-2" ID="form-modal"> 
        <div class="row opciones p-2">

            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                    <input class="form-control" id="dato" name="dato" [(ngModel)]="nombre" type="text" placeholder="Ingresar Dato" >
                    <div class="input-group-append">
                        <button class="btn btn-secondary " type="button"(click)="insertanButton()" >Guardar</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                    <input class="form-control" id="dato" name="dato" [(ngModel)]="datoBuscar" type="text" placeholder="Ingresar Dato" >
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" (click)="buscar()">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                    <input class="form-control" id="dato" name="dato" [(ngModel)]="datoAntiguo" type="text" placeholder="Antiguo" >
                    <input class="form-control" id="dato" name="dato" [(ngModel)]="datoNuevo" type="text" placeholder="Nuevo" >
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="button" (click)="modificar()" >Actualizar</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                    <input class="form-control" id="dato" name="dato" [(ngModel)]="datoEliminar" type="text" placeholder="Ingresar Dato" >
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" (click)="eliminar()">Eliminar</button>
                    </div>
                </div>
            </div>

            

            <div class="col-12 col-sm-12 col-lg-3 text-left mt-2 text-white mt-1">
                <div class="input-group">
                    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                    <div class="file-upload">

                        {{fileName || "No ha seleccionado archivo."}}

                        <button class="btn btn-primary" (click)="fileUpload.click()">
                            <i class="fas fa-upload"></i>
                        </button>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-12 col-lg-3 text-left mt-2 text-white mt-1">
                <div class="input-group">
                    <button class="btn btn-primary" >
                        Generar JSON
                    </button>
                </div>
            </div>


        </div>


        <div class="row  mt-10" #mynetwork id="mynetwork">

        </div>


    </div>

</body>
