<body>
    <div >
        <p>
            <!-- UNIVERSIDAD DE SAN CARLOS DE GUATEMALA -->
            <span>
                LZW
            </span>
            &mdash; ESTRUCTURA DE DATOS &mdash;
        </p>
    </div >   
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container mt-2" ID="form-modal">
        <div class="row opciones p-2">

            <div class="col-lg-3 col-sm-12 col-12 mt-1">
                <div class="input-group">
                  <div class="input-group-append">
                        <button class="btn btn-secondary " type="button" (click)="cifrado()" >LZW</button>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-lg-3 text-left mt-2 text-white mt-1">
                <div class="input-group">
                    <input type="file" class="file-input" id="input-file" (change)="getFile($event)" #fileUpload>
                    <div class="file-upload">
                        {{ fileName || "No ha seleccionado archivo."}}
                        <button class="btn btn-primary" (click)="fileUpload.click()" #fileUpload>
                            <i class="fas fa-upload"></i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-lg-3 text-left mt-2 text-white mt-1">
                <div class="input-group">
                    <button class="btn btn-primary " (click)="generarJSON1()">
                        Generar Archivo
                    </button>
                </div>
            </div>


        </div>
         <br>
         <div class="row mt-5">
            <div class="col-12 col-sm-12 col-lg-3 text-left mt-2 text-white mt-2">
               
                <div class="dropdown">
                <textarea id="textarea" name="comentarios" rows="10" cols="135">Texto A Leer</textarea>
                <textarea id="textareaResultado"name="comentarios" rows="5" cols="135">Resultado</textarea>
            </div>

             </div>
            
            

         </div>
         <div>

            <table class="table table-dark table-striped">
                <thead>
                    <th> LZW</th>
                    
             </thead>
        
                <tbody>
                    
                    
                    <tr>  
                       <td>W</td>
                       <td *ngFor="let w of w">
                        {{w}}
                       </td> 
                    </tr>
                    <tr>
                        <td>K</td>
                       <td *ngFor="let k of k">
                        {{k}}
                       </td>
                    </tr>
                    <tr>
                        <td>WK</td>
                       <td *ngFor="let WK of kw">
                        {{WK}}
                       </td>
                    </tr>
                    <tr>
                        <td>Diccionario</td>
                       <td *ngFor="let d of diccionario">
                        {{d}}
                       </td>
                    </tr>
                    <tr>
                        <td>Salida</td>
                       <td *ngFor="let s of salida">
                        {{s}}
                       </td>
                    </tr>
                </tbody>
            </table>

 
        </div>
         
            
        

       
    </div>
    
</body>

