.cuadroAnim{
    margin-left: 350px;
    width: auto;
    height: auto;
    border: none;
}
.datoGrafo{
    padding: 5px;
    height: 29px;
    width: 86px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
   
    transition: .3s;
    margin-right: 5px;
}
.button.clear{
    margin-left: 0px;
}
.datoGrafo:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.almacen{
    width: 133px;
    margin-right: 11px;   
}
.cuadroBR{
    padding: 5px;
    margin-top:5px;
    margin-left: 350px;
    width: 1015px;
    height: 30px;
    text-align: center;
    border: 3px solid black;
    background-color:cornflowerblue;
}
.tablero{
    
    
    
}
table, th ,td{
    background-color:white;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    
}
td{
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: bolder;
    
}
.buscado{
    background-color: #40A4F2;
}

.listMajor{
    margin-left: 55px;
    width: 1400px;
    height: 400px;
    margin-top: 70px;
    /*border: 3px solid black;
    background-color: tomato;*/
}
#espacioMaj{

    display: flex;
    flex-wrap: wrap;
   
}
.cuadrito{

    width: 8em;
    height: 2em;
    background-color: white;
    
    border: 1px solid black;
    margin: 2em 1em 1em 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black;
    animation: backInUp; 
    animation-duration: 1s; 
    
    /*animation-name: entrada;
    animation-duration: 1s;*/

}