<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
               <!--<h1 class="text-white">TytusDS</h1>-->
               <p>
                UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
                <span>
                    TytusDS
                </span>
                &mdash; ESTRUCTURA DE DATOS &mdash;
            </p>
            </div>

        </div>
        <br><br><br><br><br><br><br><br><br>
        <div class="row mt-5">
            <div id="cabecera" style="background-color:#000000" class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br><br><br>
                ​<img src="http://dennismasaya.com/images/SM.png" alt="Stickman" width="350" height="120">
                <br><br><br><br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/compuesta/dispersa" ><h3 style="color:#e67e17"> Matriz Dispersa</h3></a>
                    
                </div>
            </div>

            <div id="cabecera" style="background-color:#000000" class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br><br><br>
                ​<img src="https://craftofcoding.files.wordpress.com/2017/02/rowcolumnarrays.jpg" alt="Stickman" width="350" height="120">
                <br><br><br><br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/compuestas/major" ><h3 style="color:#e67e17"> Row-Col Major</h3></a>
                    
                </div>
            </div>
            
           
            
        </div>
        
    </div>

</body>