body {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body > #main-container {
	height: calc(100vh - 60px);
	width: calc(100% - 60px);
	max-width: 1306px;
	max-height: 690px;
	display: grid;
	grid-template-columns: 230px 1fr 300px;
	border-radius: var(--radius);
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
}

nav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--whiteDark);
	height: 100%;
}

nav > #logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 60px);
	margin: 30px;
	border-radius: var(--radius);
	margin-bottom: 20px;
}

nav > #logo > img {
	height: 85px;
	width: 85px;
	object-fit: contain;
	opacity: 0.8;
}

nav > ul {
	width: 100%;
	font-size: 0.88em;
	font-weight: 500;
}

nav > ul > li {
	width: 100%;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: left;
	height: 35px;
	margin-bottom: 15px;
	border-right: 3px solid transparent;
	transition: border-color 0.2s ease-in-out;
	cursor: pointer;
}

nav > ul > li > label {
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: left;
}

nav > ul > li > i,
nav > ul > li > label > i {
	margin-right: 20px;
	font-size: 1.3em;
	color: var(--lightGrayGray);
	transition: color 0.2s ease-in-out;
}

nav > ul > li > span,
nav > ul > li > label > span {
	color: var(--lightGrayGray);
	transition: color 0.2s ease-in-out;
}

nav > ul > li.active-path,
nav > ul > li:hover {
	cursor: pointer;
	border-color: var(--blueOceanBright);
}

nav > ul > li.active-path > i,
nav > ul > li:hover > i,
nav > ul > li.active-path > label > i,
nav > ul > li:hover > label > i {
	color: var(--blueOceanBright);
	font-weight: bold;
}

nav > ul > li.active-path > span,
nav > ul > li:hover > span,
nav > ul > li.active-path > label > span,
nav > ul > li:hover > label > span {
	color: var(--darkGrayOpal);
}

nav > #git-info {
	width: calc(100% - 60px);
	margin: 70px 30px 30px 30px;
	background-color: var(--boneNight);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

nav > #git-info > svg {
	margin-top: -70px;
}

nav > #git-info > p {
	color: var(--lightBlueGrayOpal);
	font-weight: 500;
	font-size: 0.88em;
	margin: 20px 0;
}

nav > #git-info > a {
	font-size: 0.88em;
	text-decoration: none;
	width: 100%;
}

nav > #main-info {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(3px);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
}

nav > #main-info > div {
	background-color: var(--pale);
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 30px 20px 30px;
	overflow: hidden;
	border-radius: var(--radius);
}

nav > #main-info > div > img {
	height: 100px;
	margin-top: -5px;
}

nav > #main-info > div > p {
	font-weight: 500;
	font-size: 0.8em;
	color: var(--hole);
	opacity: 0.7;
}

nav > #main-info > div > h3 {
	font-weight: bold;
	font-size: 0.8em;
	color: var(--hole);
	opacity: 0.7;
	margin-top: 10px;
	text-align: left;
	width: 100%;
}

nav > #main-info > div > ul {
	margin-top: 15px;
	width: 100%;
}

nav > #main-info > div > ul > li {
	display: flex;
	align-items: center;
	width: 100%;
}

nav > #main-info > div > ul > li > img {
	height: 50px;
	object-fit: cover;
	width: 50px;
	border-radius: 100%;
	margin-right: 15px;
}

nav > #main-info > div > ul > li > a {
	color: var(--hole);
	text-decoration: none;
	opacity: 0.9;
}

nav > #main-info > div > ul > li > a > span,
nav > #main-info > div > ul > li > a > strong {
	display: block;
}

nav > #show-main-info:checked ~ #main-info {
	opacity: 1;
	pointer-events: all;
}

main {
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: var(--paperHole);
}

main::-webkit-scrollbar {
	display: none;
	width: 0;
}

main > #topbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

main > #topbar > .input {
	width: 100%;
	max-width: 434px;
}

main > #topbar > .input > label > i {
	position: relative;
	top: 1.5px;
}

main > #topbar > button {
	background: transparent;
}

main > #topbar > button:hover {
	box-shadow: none;
}

main > #topbar > button > i {
	color: var(--blueGrayOpal);
	font-weight: bold;
	font-size: 1.3em;
}

main > #topbar > .search-results {
	position: absolute;
	width: 100%;
	max-width: 434px;
	background-color: var(--boneNight);
	top: 45px;
	left: 0;
	z-index: 3;
	border-radius: 0 0 var(--radius) var(--radius);
	padding: 30px;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.07);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0;
}

main > #topbar > .search-results > ul {
	max-height: 155px;
	overflow-y: auto;
	scrollbar-width: none;
}

main > #topbar > .search-results > ul::-webkit-scrollbar {
	display: none;
	width: 0;
}

main > #topbar > .search-results > ul > li {
	display: block;
	width: 100%;
	height: max-content;
}

main > #topbar > .search-results > ul > li > a {
	display: block;
	color: var(--lightGrayGray);
	border-radius: calc(var(--radius) - 5px);
	font-weight: 500;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 10px;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

main > #topbar > .search-results > ul > li > a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: var(--whitePale);
}

main > #topbar > .search-results:focus-within,
main > #topbar > .input:focus-within ~ .search-results {
	opacity: 1;
	pointer-events: all;
}

main > #topbar-tabs {
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

main > #topbar-tabs > h1 {
	color: var(--moonOceanOpal);
	font-size: 1.4em;
}

main > #topbar-tabs > ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

main > #topbar-tabs > ul > li > button {
	color: var(--blueGrayGray);
	opacity: 0.8;
	position: relative;
	background: transparent;
	height: max-content;
	margin-left: 20px;
	font-size: 0.88em;
}

main > #topbar-tabs > ul > li > button::before {
	content: '';
	position: absolute;
	bottom: -7px;
	height: 2px;
	background: var(--blueOceanBright);
	width: 00px;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.2s ease-in-out;
}

main > #topbar-tabs > ul > li > button.active-tab,
main > #topbar-tabs > ul > li > button:hover {
	opacity: 1;
	color: var(--blueOceanBright);
}

main > #topbar-tabs > ul > li > button.active-tab::before,
main > #topbar-tabs > ul > li > button:hover::before {
	width: 30px;
}

main > #topbar-tabs > ul > li > button:hover {
	box-shadow: none;
}

main > #cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 100px);
	grid-gap: 30px;
}

main > #cards > .flip-card:first-child {
	grid-column: 1/4;
	grid-row: 1/3;
}

main > #cards > .flip-card:first-child > .flip-card-inner > .card-content,
main > #cards > .flip-card:first-child > .flip-card-inner > .card-list {
	background-color: var(--oceanLight);
}

main > #cards > .flip-card:first-child .card-content > img {
	position: relative;
	left: 60px;
	height: 150%;
	top: -25px;
	object-fit: contain;
}

main > #cards > .flip-card:nth-child(2) {
	grid-column: 4/6;
	grid-row: 1/4;
}

main > #cards > .flip-card:nth-child(2) > .flip-card-inner > .card-content,
main > #cards > .flip-card:nth-child(2) > .flip-card-inner > .card-list {
	background-color: var(--lightOrange);
}

main > #cards > .flip-card:nth-child(3) {
	grid-column: 2/4;
	grid-row: 3/5;
}

main > #cards > .flip-card:nth-child(3) > .flip-card-inner > .card-content,
main > #cards > .flip-card:nth-child(3) > .flip-card-inner > .card-list {
	background-color: var(--oceanBright);
}

main > #cards > .flip-card:nth-child(3) .card-content > img {
	position: relative;
	left: 40px;
	top: 10px;
}

main > #cards > .flip-card:nth-child(4) {
	grid-column: 1/2;
	grid-row: 3/5;
	pointer-events: none;
}

main > #cards > .flip-card:nth-child(4) > .flip-card-inner > .card-content,
main > #cards > .flip-card:nth-child(4) > .flip-card-inner > .card-list {
	background-color: var(--lightRose);
}

main > #cards > .flip-card:nth-child(4) .card-content > img {
	position: relative;
	left: 10px;
	top: 10px;
}

main > #cards > .flip-card:nth-child(5) {
	grid-column: 4/6;
	grid-row: 4/5;
	pointer-events: none;
}

main > #cards > .flip-card:nth-child(5) > .flip-card-inner > .card-content,
main > #cards > .flip-card:nth-child(5) > .flip-card-inner > .card-list {
	background-color: var(--lightPurple);
}

main > #cards > .flip-card:nth-child(5) .card-content > img {
	position: relative;
	top: -50px;
	left: 45px;
	height: 150%;
	object-fit: contain;
}

main > #cards > .flip-card:nth-child(6) {
	grid-column: 3/6;
	grid-row: 5/7;
}

main > #cards > .flip-card:nth-child(6) > .flip-card-inner > .card-content,
main > #cards > .flip-card:nth-child(6) > .flip-card-inner > .card-list {
	background-color: var(--lightRose);
}

main > #cards > .flip-card:nth-child(6) .card-content > img {
	position: relative;
	left: 40px;
	top: 10px;
}

main > #cards > .flip-card {
	background-color: transparent;
	perspective: 1000px;
	position: relative;
	width: 100%;
	height: 100%;
}

main > #cards > .flip-card > .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

main > #cards > .flip-card > .flip-card-inner > .card-list,
main > #cards > .flip-card > .flip-card-inner > .card-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	overflow: hidden;
	-webkit-backface-visibility: visible;
	backface-visibility: hidden;
}

main > #cards > .flip-card:hover > .flip-card-inner {
	transform: rotateY(180deg);
}

main > #cards > .flip-card > .flip-card-inner > .card-content {
	pointer-events: none;
}

main > #cards > .flip-card > .flip-card-inner > .card-list {
	position: relative;
	background-color: #2980b9;
	color: var(--whiteLightPale);
	transform: rotateY(180deg);
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div {
	width: 100%;
	height: 100%;
	padding: 30px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	overflow: auto;
	scrollbar-width: none;
}

main
	> #cards
	> .flip-card
	> .flip-card-inner
	> .card-list
	> div::-webkit-scrollbar {
	display: none;
	width: 0;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div {
	position: relative;
	z-index: 2;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div > h2 {
	font-weight: 500;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div > p {
	font-size: 0.9em;
	margin: 5px 0 10px 0;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div > ul {
	list-style: disc;
	margin-left: 20px;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div > ul > li {
	margin-bottom: 5px;
}

main
	> #cards
	> .flip-card
	> .flip-card-inner
	> .card-list
	> div
	> ul
	> li:last-child {
	margin-bottom: 0px;
}

main > #cards > .flip-card > .flip-card-inner > .card-list > div > ul > li > a {
	font-weight: 500;
	color: var(--white);
	text-decoration: none;
}

main > #cards > .flip-card .card-content > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main > #cards > .flip-card .card-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

main > #cards > .flip-card:nth-child(4) .card-content::before {
	display: none;
}

main > #cards > .flip-card .card-content > div {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 2;
	color: var(--whiteLightPale);
}

main > #cards > .flip-card .card-content > div > h2 {
	font-weight: 500;
}

main > #cards > .flip-card .card-content > .card-play {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: max-content;
	width: max-content;
	padding: 0;
	font-weight: bold;
	font-size: 1.7em;
	background: transparent;

	z-index: 2;
}

main > #cards > .flip-card .card-content > .card-play:hover {
	box-shadow: none;
}

main > #cards > .flip-card .card-content > span {
	position: absolute;
	background: var(--white);
	border-radius: 100%;
	height: 40px;
	width: 40px;
	bottom: 28px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

main > #cards > .flip-card .card-content > span > i {
	color: var(--darkOcean);
	font-size: 1.3em;
}

aside {
	position: relative;
	background-color: var(--whiteDark);
	width: 100%;
	height: 100%;
	padding: 30px;
}

aside > #user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

aside > #user > img {
	height: 40px;
	width: 75px;
}

aside > #user > h2 {
	color: var(--darkOceanOpal);
	font-size: 1.17em;
	font-weight: 500;
}

aside > #user > h2 > span {
	display: block;
}

aside > #user > h2 > span:last-child {
	color: var(--lightOceanGray);
	font-size: 0.7em;
}

aside > h3 {
	color: var(--darkOceanOpal);
	font-size: 1.1em;
	font-weight: 500;
	margin: 30px 0;
}

aside > ul > li {
	display: grid;
	align-items: center;
	grid-template-columns: 50px 80px auto;
	column-gap: 20px;
	margin-bottom: 20px;
}

aside > ul > li > label {
	width: max-content;
}

aside > ul > li > label > span:first-child {
	display: block;
	color: var(--darkOceanOpal);
	font-size: 0.9em;
	font-weight: 500;
	opacity: 0.8;
}

aside > ul > li > label > span:nth-child(2) {
	display: block;
	color: var(--lightOceanGrayOpal);
	font-size: 0.8em;
}

aside > ul > li > i {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--lightTeal);
	height: 50px;
	min-width: 50px;
	color: var(--teal);
	border-radius: var(--radius);
	font-size: 1.3em;
}

aside > ul > li > progress {
	width: 100%;
	border-radius: 100px;
	appearance: none;
}

aside > ul > li > progress::-webkit-progress-bar {
	background-color: var(--brightTeal);
	border-radius: 100px;
	height: 10px;
}

aside > ul > li > progress::-webkit-progress-value {
	background-color: var(--teal);
	border-radius: 100px;
}

aside > ul > li:nth-child(2) > i {
	color: var(--ice);
	background: var(--lightIce);
}

aside > ul > li:nth-child(2) > progress::-webkit-progress-bar {
	background-color: var(--cold);
}

aside > ul > li:nth-child(2) > progress::-webkit-progress-value {
	background-color: var(--ice);
}

aside > ul > li:nth-child(3) > i {
	color: var(--soda);
	background: var(--lightSoda);
}

aside > ul > li:nth-child(3) > progress::-webkit-progress-bar {
	background-color: var(--brightSoda);
}

aside > ul > li:nth-child(3) > progress::-webkit-progress-value {
	background-color: var(--soda);
}
