* {
    margin: 0;
    padding: 0;
}

nav {
    border: black;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
    z-index: 2;
}

nav a {
    text-decoration: none;
}

nav h1 {
    color: rgb(221, 221, 221);
}

.columna1 {
    box-shadow: 5px 7px 10px rgb(0 0 0 / 50%);
    padding: 20px 0px 20px 30px;
    z-index: 1;
    background-color: rgb(240, 84, 84);
}

.col_label {
    padding: 0 5px;
    font-size: 2em;
}

.form {
    margin: 10px;
}

#oculto {
    display: none;
}

.tablero{
    margin-top: 20px;
}

.col_input input{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
}

.archivo label {
    font-size: 1em;
}

.panel {
    height: 480px;
    background-color: rgb(221, 221, 221);
}

.controles {
    background-color: rgb(34, 40, 49);
    height: 55px;
    z-index: 1;
}

.boton {
    width: 100px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(240, 84, 84);
}

#prioridad {
    height: 100%;
    width: 15%;
    border-radius: 5px;
    border: 1px solid rgb(240, 84, 84);
}

.seleccionar {
    margin-top: 10px;
}

#file {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    border: 1px solid rgb(240, 84, 84);
}

.velocidad_lb {
    color: rgb(221, 221, 221);
}

#velocidad {
    margin: 0px 5px 10px 10px;
}
