.log{
  max-height: 35px;
}
.header {
    overflow: hidden;
    background-color: #212F3D;
    padding: 20px 10px;  
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
    
  @media screen and (max-width: 1250px) {
    .header{
      top:-30px;
      position: fixed;
      display:block;
		  width:100%;      
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
    
  }
  