<header class="rounded shadow-lg o-hidden border-0 my-5 text-center text-white masthead" style="background:url('assets/Imagenes/Fondo2.jpg')no-repeat center center;background-size:cover;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-block text-white" [routerLink]="['/listaSimple']">
            <em class="fas fa-list"></em>
            Lista Simplemente Enlazada 
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/ListaDobleEnlazada']">
            <em class="fas fa-list"></em>
            Lista Doblemente Enlazada
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/ListaCircular']">
            <em class="fas fa-list"></em>
            Lista Circular Simplemente Enlazada 
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/ListaDobleCircular']">
            <em class="fas fa-list"></em>
            Lista Circular Doblemente Enlazada
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/pila']">
            <em class="fas fa-list"></em>
            Pila
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            <em class="fas fa-list"></em>
            Cola
            </button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            <em class="fas fa-list"></em>
            Cola Prioridad
            </button>
        </div>
    </div> 
</div>        
