<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-block text-white" [routerLink]="['/ListaSimple']" (click)="Ir()">
                Lista Simplemente Enlazada</button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                Lista Doblemente Enlazada</button>

            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            Lista Circular Simplemente Enlazada</button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                Lista Circular Doblemente Enlazada</button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            Pila</button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            Cola</button>
            <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
            Cola Prioridad</button>
        </div>
        </div> 
</div>        
