
<div class="container">
  <app-opciones (opcionesEvento)="getOpciones($event)"></app-opciones>
    <h1 class="fw-light text-white">Arbol B</h1>
    <hr>
    <div class="row">
      <div ><input #agregar type="text"  placeholder="Valor" [(ngModel)]="ag" >
        <button id="Agregar" class="btn btn-primary" style="margin: 5px" (click)="Add(agregar.value)">Agregar</button>
        <button id="Eliminar" class="btn btn-danger" style="margin: 10px" onclick="actualizarTablero()">Eliminar</button>
        <input #buscar type="text"  placeholder="Buscar" [(ngModel)]="ag3">
        <button id="Buscar" class="btn btn-primary" style="margin: 5px" (click)="bus(buscar.value)"  >Buscar  <span class=".glyphicon-search"></span></button>
      </div>
      <div  >
        <input  style="margin: 5px" type="file" id="formFile" (change)="getDocumento($event.target)" >
        <button id="Guardar" class="btn btn-primary" style="margin: 5px"  (click)="guardar()"   >Guardar json <span class=".glyphicon-search"></span></button>
         <button id="Actualizar" class="btn btn-primary" style="margin: 5px" (click)="graficar()"  >Actualizar  <span class=".glyphicon-search"></span></button>

      </div>
      <div id="myDiv1" class="animacion container bg-light" ></div>
    <hr>

</div>
<br>
<br>
<div >

</div>
