<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/image/icon.png" type="image/png">
    <title>Cola de Prioridad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/templates.css">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: rgb(48, 71, 94)">
        <a class="navbar-toggler" href="https://tytusdb.github.io/tytusds/20211SVAC/G10/index.html" style="border: 1px solid rgb(34, 40, 49);">
            <span class="navbar-toggler-icon"></span>
        </a>
        <h1>Cola de Prioridad</h1>
    </nav>

    <div class="row">
        <div class="col-3 columna1">

            <div class="row formulario">
                <form action="#" method="POST" class="form" id="form">
                    <div class="row">
                        <div class="col-1 col_label"><label for="dato" class="form_label">&plus;</label></div>
                        <div class="col-8 col_input"><input type="text" name="" id="dato" placeholder="Dato"></div>
                    </div>
                </form>
                <div id="oculto">
                    <form action="#" method="POST" class="form" id="form">
                        <div class="row">
                            <div class="col-1 col_label"><label for="dato" class="form_label labe">&lrhar;</label></div>
                            <div class="col-8 col_input"><input type="text" name="" id="dato2" placeholder="Nuevo dato"></div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="row justify-content-end"><button class="boton" id="cambiar">Cambiar</button></div>
                    </div>
                </div>
                <div id="seleccionar" class="row seleccionar">
                    <div class="col-3"><label for="prioridad" id="labe_select">Prioridad</label></div>
                    <div class="col-9">
                        <select name="prioridad" id="prioridad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row tablero">
                <div class="col-6"><button class="boton" id="agregar">Agregar</button></div>
                <div class="col-6 align-self-end"><button class="boton" id="buscar" >Buscar</button></div>
                
            </div>
            <div class="row">
                <div class="col-6"><button class="boton" id="actualizar" >Actualizar</button></div>
                <div class="col-6 align-self-end"><button class="boton" id="eliminar" >Eliminar</button></div>
            </div>
            
            <div class="row archivo">
                <div class="row formulario">
                    <form action="#" method="POST" class="form" id="form">
                        <div class="row">
                            <div class="col-12"><label for="dato">Leer archivo JSON</label></div>
                                <div class="col-12 col_input">
                                    <input type="file" name="" id="file" accept=".json">
                                </div>
                            <div class="col-12"><label for="dato" id="mensaje"></label></div>
                        </div>
                    </form>
                    <div class="col-6"><button class="boton" id="cargar">Cargar</button></div>
                </div>
                <div class="col-6"><button class="boton" id="guardar" >Guardar</button></div>
            </div>
        </div>

        <div class="col-9 columna2">
            <div class="row">
                <div class="panel" id = 'lienzo'><!canvas id='lienzo' width="1000" height="500"><!/canvas></div>
            </div>
            <div class="row">
                <div class="controles">
                    <div class="row">
                        <div class="col-1">
                            <label for="velocidad" class="velocidad_lb">Velocidad</label>
                        </div>
                    </div>
                    <input type="range" id="velocidad" name="velocidad" min="1" max="5">
                    <label for="velocidad" id="numero" class="velocidad_lb">3</label>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>
    <script src="javascript/ColaPrioridad.js"></script>
</body>
</html>