@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap');

.bienvenida{
    position: absolute;
    left: 100%;
}

.contenedor_bienvenida{

    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    left: 50%;
    margin-left: -350px;

}


.contenedor_bienvenida__texto{
    height: 170px;
    width: 700px;
    text-align: justify;
    margin-bottom: 15px;
    font-size: 18px;

}

.hero{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;

}

.contenedor_bienvenida__cohete{
    margin-top: 10px;
}
