<div class="mt-3">
    <section class="py-3 text-center container Head1">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Bienvenido a TytusDS</h1>
                <p class="lead text-white">¿Que estructura desea ver?</p>
            </div>

        </div>
        <div class="Logo-usac">
        </div>
    </section>
    <div class="container">
      <!--Botones de movimiento en el menu-->
      <div class="btn-group d-flex justify-content-end py-2" align="center" id="movMenu">
        <div class=""><a class="button1 btn btn-dark" href="#E_lineales">Estructuras Lineales</a></div>
        <div class=""><a class="button1 btn btn-dark" href="#Ordenamientos1">Ordenamientos</a></div>
        <div class=""><a class="button1 btn btn-dark" href="#E_Arboreas">Estructuras Arboreas</a></div>
      </div>
      <!---->
    </div>

    <div class="container my-4">
        <h1 id="E_lineales" class="fw-light">Estructuras Lineales</h1>
        <hr>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Lista Simplemente Enlazada</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/ListaSimple">Ver Lista Simple</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Lista Doblemente Enlazada</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/ListaDoble">Ver Lista Doble</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Lista Circular Simplemente Enlazada</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/ListasCirculares">Ver Lista Circular</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Lista Circular Doblemente Enlazada</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/ListasCircularesDE">Ver Lista Circular</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Pila</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/Pila">Ver Pila</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Cola</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/Cola">Ver Cola</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Cola de Prioridad</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/Cp">Ver Cola</button>
                </div>
            </div>
        </div>
        <h1 id="Ordenamientos1" class="fw-light">Ordenamientos</h1>
        <hr>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Burbuja</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/OBurbuja">Ver Metodo Burbuja</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Selección</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/Seleccion">Ver Selección</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Inserción</h2>
                    <button class="btn btn-outline-secondary" routerLink="/Inserccion" type="button">Ver Inserción</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Rápido</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/OQuicksort">Ver Rápido</button>
                </div>
            </div>
        </div>
        <h1 id="E_Arboreas" class="fw-light">Estructuras Arbóreas</h1>
        <hr>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Árbol Binario de Búsqueda</h2>
                    <button class="btn btn-outline-light" type="button" routerLink="/Abinario">Ver Árbol Binario</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>AVL</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/avl">Ver Árbol AVL</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Árbol B</h2>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/B">Ver Árbol B</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Árbol B+</h2>
                    <button class="btn btn-outline-light" type="button">Ver Árbol B+</button>
                </div>
            </div>
        </div>
        <div class="row align-items-md-stretch my-3">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Árbol de Merkle</h2>
                    <button class="btn btn-outline-light" type="button">Ver Árbol Merkle</button>
                </div>
            </div>
        </div>
    </div>
</div>
