.BotonesP{
  position: fixed;
  top:0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.Head1{
  background-image: url("../../Componentes/Imagenes/usac.jpg");
  background-size: 200%;
  animation: movimiento 18s infinite linear alternate;
  position: relative;
  top:60px;
}
.Logo-usac{
  position: absolute;
  height: 170px;
  width: 170px;
  top: -7px;
  right: 120px;
  background-image: url("../../Componentes/Imagenes/usac_icono.png");
  background-size: 100%;
}

@keyframes movimiento {
  from{
    background-position: bottom left;
  }to{
     background-position: top right;
   }
}
.button1{
  padding: 5px 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 9px black;
  padding-right:5px;
  padding-left: 5px;
}

.button1:hover {
  background-color: #08555b;
}
.button1:active {
  background-color: #08555b;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#movMenu{
  position: relative;
}

.Cmenu{
  background: linear-gradient(to right,#1C1C1C,#E6E6E6);
}

.burbuja{
  width: 80px;
  height: 80px;
  background-color: #BDBDBD;
  opacity: 0.3;
  position: absolute;
  bottom: -3200px;
  left: 5%;
  border-radius: 50%;
  animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
}
.burbuja:nth-child(2){
  width: 10px;
  height: 10px;
  left: 15%;
  animation-duration: 3s;
  animation-delay: 2s;
  z-index: 1;
}
.burbuja:nth-child(3){
  width: 100px;
  height: 100px;
  left: 30%;
  animation-duration: 3s;
  animation-delay: 7s;
}
.burbuja:nth-child(4){
  width: 65px;
  height: 65px;
  left: 45%;
  animation-duration: 3s;
  animation-delay: 3s;
}
.burbuja:nth-child(5){
  width: 65px;
  height: 65px;
  left: 50%;
  animation-duration: 3s;
  animation-delay: 5s;
}
.burbuja:nth-child(6){
  width: 10px;
  height: 10px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 8s;
}
.burbuja:nth-child(7){
  width: 65px;
  height: 65px;
  left: 80%;
  animation-duration: 3s;
  animation-delay: 2s;
}
.burbuja:nth-child(8){
  width: 100px;
  height: 100px;
  left: 90%;
  animation-duration: 3s;
  animation-delay: 5s;
}
.burbuja:nth-child(9){
  width: 10px;
  height: 10px;
  left: 95%;
  animation-duration: 3s;
  animation-delay: 5s;
}
.burbuja:nth-child(10){
  width: 65px;
  height: 65px;
  right: 5%;
  animation-duration: 3s;
  animation-delay: 2s;
}
@keyframes burbujas {
  0%{
    bottom: -3100px;
    opacity: 0;
  }
  5%{
    opacity: 0.4;
    transform: translateX(5px);
     }
  15%{
    opacity: 0.4;
    transform: translateX(30px);
  }
  30%{
    opacity: 0.2;
    transform: translateX(55px);
  }
  50%{
      opacity: 0.4;
    transform: translateX(15px);
  }
  75%{
    opacity: 0.4;
    transform: translateX(35px);
  }
  80%{
    opacity: 0.4;
    transform: translateX(-25px);
  }
  85%{
    opacity: 0.4;
    transform: translateX(35px);
  }
  100%{
    bottom: 100vh;
    opacity: 0;
  }

}
