
.Head1{
  background-image: url("../../Componentes/Imagenes/usac.jpg");
  background-size: 200%;
  animation: movimiento 17s infinite linear alternate;
}
.Logo-usac{
  position: absolute;
  height: 170px;
  width: 170px;
  top: 10px;
  right: 120px;
  background-image: url("../../Componentes/Imagenes/usac_icono.png");
  background-size: 100%;
}

@keyframes movimiento {
  from{
    background-position: bottom left;
  }to{
     background-position: top right;
   }
}
