
<div class="container ">
  <app-opciones (opcionesEvento)="getOpciones($event)"></app-opciones>
    <h1 class="fw-light text-white">Cola De Prioridad</h1>
    <hr>
    <div class="row">
      <div ><input #prioridad style="margin: 5px" type="text"  placeholder="Prioridad" [(ngModel)]="ag" >
        <input #agregar type="text" style="margin: 5px"  placeholder="Valor" [(ngModel)]="agx" >
        <button id="Agregar" class="btn btn-primary" style="margin: 5px" (click)="Add(prioridad.value,agregar.value)">Agregar</button>
        <button id="Eliminar" class="btn btn-danger" style="margin: 10px" (click)="delete()">Eliminar</button>
        <input #buscar type="text"  placeholder="Buscar" [(ngModel)]="ag3">
        <button id="Buscar" class="btn btn-primary" style="margin: 5px" (click)="bus(buscar.value)"  >Buscar  <span class=".glyphicon-search"></span></button>

      </div>
        <div >
          <input #actual type="text" style="margin: 5px" placeholder="Valor Actual" [(ngModel)]="ag1">
          <input #nuevo_valor type="text" style="margin: 5px" placeholder="Nuevo Valor" [(ngModel)]="ag2">
          <button id="Modificar" class="btn btn-primary" style="margin: 5px" (click)="modi(actual.value,nuevo_valor.value)" >Modificar</button>
          <button id="Guardar" class="btn btn-primary" style="margin: 5px" (click)="guardar()"  >Guardar json <span class=".glyphicon-search"></span></button>
          <button id="Actualizar" class="btn btn-primary" style="margin: 5px" (click)="actualizar()"  >Actualizar  <span class=".glyphicon-search"></span></button>

        </div>

      <div  >
        <input  style="margin: 5px" type="file" id="formFile" (change)="getDocumento($event.target)" >
      </div>
      <div  id="myDiv1"   style="color: blue;"> </div>




    <hr>

</div>
<br>
<br>
<div >

</div>
