<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <h1 class="text-white">TytusDS</h1>
            </div>

        </div>
        <div id="cabecera" style="background-color:#FFFFFF" class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
            <br>
            ​<img class="card-img-top" src="https://qph.fs.quoracdn.net/main-qimg-846d773b00b03ca6811b515c5d9fa63a" alt="Card image cap">
            <br><br><br><br>
            <div class="card-body text-white">
                <a class="nav-link text-white" routerLink="/binaryTree" ><h3> Arbol Binario de Busqueda</h3></a>
                
            </div>
        </div>
        

    
    </div>

</body>