<header class="rounded shadow-lg o-hidden border-0 my-5 text-center text-white masthead" style="background:url('assets/Imagenes/Fondo2.jpg')no-repeat center center;background-size:cover;">
<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block text-white" type="submit">
                <i class="fas fa-network-wired"></i>
                

                   Arbol Binario De Busqueda
                    
                </button>
                <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                <i class="fas fa-network-wired"></i>
                    Arbol AVL
                </button>

                   <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                   <i class="fas fa-network-wired"></i>
                    Arbol B
                     
                   </button>
                   <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                   <i class="fas fa-network-wired"></i>
                     Arbol B+
                   </button>
                   <button  class="btn btn-primary btn-block text-white btn-user" type="submit">
                   <i class="fas fa-network-wired"></i>
                    Arbol De Merkle
                   </button>
            </div>
        </div> 
</div>       
