.cuadroAnim{
    margin-left: 350px;
}
.datoGrafo{
    padding: 5px;
    height: 29px;
    width: 86px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
   
    transition: .3s;
    margin-right: 5px;
}
.button.clear{
    margin-left: 0px;
}
.datoGrafo:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.almacen{
    width: 133px;
    margin-right: 11px;   
}
.cuadroBR{
    padding: 5px;
    margin-top:5px;
    margin-left: 350px;
    width: 1005px;
    height: auto;
    text-align: center;
    border: 3px solid black;
    background-color:cornflowerblue;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}
.almacenam{
    
    margin-top: 200px;
    width: 1315px;
    height: 300px;
    margin-left: 25px;
    padding: 15px;
    
}
.tablero{
    
    
    
}
table, th ,td{
    
    border-collapse: collapse;
    
    padding: 10px;
    
}
td{
    background-color:white;
    border: 2px solid black;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: bolder;
    
}
.encabezado{
    /*background-color: cadetblue;*/
    background-color:darkseagreen;
}
.flechita{
    border: none;
    
    background-color: transparent;
    width: 50px;
    height: 20px;
    text-align: center;


}
.cuadrito{

    width: 5em;
    height: 1em;
    background-color: white;
    
    border: 1px solid black;
    margin: 2em 1em 1em 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black;
    animation: backInUp; 
    animation-duration: 1s; 
    
    /*animation-name: entrada;
    animation-duration: 1s;*/

}
#resBR{
    display: flex;
    flex-wrap: wrap;
}