.cuadroAnim{
    margin-left: 350px;
}

.cuadrito{

    width: 6em;
    height: 2em;
    background-color: white;
    
    border: transparent;
    margin: 2em 1em 1em 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black;
    animation: fadeInUp; 
    animation-duration: 1s; 
    
}

.eliminado{
    animation: flipOutX; 
    animation-duration: 2s; 
}
.busqueda{
    animation: shakeX;
    animation-duration: 2s;
}

#espacio{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
}