<div class="Cajabotones">
    <button class="Home btn btn-success button" routerLink="/">Inicio</button>
    <button class="OpPrin btn btn-success button" (click)="op_abierta()"> Configuraciones </button>
</div>


<div class="oscure" id="OpPrin">
    <div class="opciones container mt-3">
        <button class="xopciones btn btn-danger" (click)="op_cerrada()">  x  </button>
        <div class="row">
            <div class="col-lg-10">
                <h1 class="fw-light">Configuración</h1>
            </div>
            <div class="col-lg-2">
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-secondary" (click)="guardarOpciones()">Guardar</button>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="fw-light">Estructuras Lineles</h3>
        <div class="row my-3">
            <div class="col-md-3">Ingreso:</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="ingreso">
                  <option value="inicio">Al Inicio</option>
                  <option value="final">Al Final</option>
                  <option value="ordenado">Ordenado</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Velocidad de Animación:</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="velocidadLineales">
                  <option value="500">0.5 s</option>
                  <option value="1000">1 s</option>
                  <option value="2000">2 s</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Repeticion de Elementos:</div>
            <div class="col-md-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="repeticionLineales">
                </div>
            </div>
        </div>
        <h3 class="fw-light mt-5">Ordenamientos</h3>
        <div class="row my-3">
            <div class="col-md-3">Velocidad de Animación:</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="velocidadOrdenamientos">
                  <option value="500">0.5 s</option>
                  <option value="1000">1 s</option>
                  <option value="2000">2 s</option>
                </select>
            </div>
        </div>
        <h3 class="fw-light mt-5">Estructuras Arbóreas</h3>
        <div class="row my-3">
            <div class="col-md-3">Velocidad de Animación:</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="velocidadArboles">
                  <option value="500">0.5 s</option>
                  <option value="1000">1 s</option>
                  <option value="2000">2 s</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Grado de Árboles B</div>
            <div class="col-md-3">
                <input type="number" class="form-control" max="7" min="3" [(ngModel)]="grado">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Repeticion de Elementos:</div>
            <div class="col-md-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="repeticionArboles">
                </div>
            </div>
        </div>
        <h3 class="fw-light mt-5">Estructuras No Lineales</h3>
        <div class="row my-3">
            <div class="col-md-3">Tamaño</div>
            <div class="col-md-3">
                <input type="number" class="form-control" [(ngModel)]="sizeNoLineales">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Función Hash</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="funcionHash">
                    <option value="simple">Simple</option>
                    <option value="division">División</option>
                    <option value="multiplicacion">Multiplicación</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Rango Minimo Hash Cerrado</div>
            <div class="col-md-3">
                <input type="number" class="form-control" [(ngModel)]="rangoHashMinimo">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Rango Maximo Hash Cerrado</div>
            <div class="col-md-3">
                <input type="number" class="form-control" [(ngModel)]="rangoHashMaximo">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Prueba Hash Cerrado</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="pruebaHashCerrado">
                    <option value="lineal">Lineal</option>
                    <option value="cuadratica">Cuadratica</option>
                    <option value="doble">Doble Hash</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-3">Prueba Hash Cerrado</div>
            <div class="col-md-3">
                <select class="form-select" [(ngModel)]="velocidadNoLineales">
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                </select>
            </div>
        </div>
    </div>
</div>