<button class="OpPrin btn btn-success button" (click)="op_abierta()"> Configuraciones </button>



<div class="oscure" id="OpPrin">
  <div class="opciones container mt-3">
    <button class="xopciones btn btn-danger" (click)="op_cerrada()">  x  </button>
    <div class="row">
      <div class="col-lg-10">
        <h1 class="fw-light">Configuración</h1>
      </div>
      <div class="col-lg-2">
        <div class="d-grid gap-2 mt-2">
          <button class="btn btn-secondary" >Regresar</button>
        </div>
      </div>
    </div>
    <hr>
    <h3 class="fw-light">Estructuras Lineles</h3>
    <div class="row my-3">
      <div class="col-md-3">Ingreso:</div>
      <div class="col-md-3">
        <select class="form-select" >
          <option value="inicio">Al Inicio</option>
          <option value="final">Al Final</option>
          <option value="ordenado">Ordenado</option>
        </select>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-3">Velocidad de Animación:</div>
      <div class="col-md-3">
        <select class="form-select" >
          <option value="500">0.5 s</option>
          <option value="1000">1 s</option>
          <option value="2000">2 s</option>
        </select>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-3">Repeticion de Elementos:</div>
      <div class="col-md-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" >
        </div>
      </div>
    </div>
    <h3 class="fw-light mt-5">Ordenamientos</h3>
    <div class="row my-3">
      <div class="col-md-3">Velocidad de Animación:</div>
      <div class="col-md-3">
        <select class="form-select">
          <option value="500">0.5 s</option>
          <option value="1000">1 s</option>
          <option value="2000">2 s</option>
        </select>
      </div>
    </div>
    <h3 class="fw-light mt-5">Estructuras Arbóreas</h3>
    <div class="row my-3">
      <div class="col-md-3">Velocidad de Animación:</div>
      <div class="col-md-3">
        <select class="form-select">
          <option value="500">0.5 s</option>
          <option value="1000">1 s</option>
          <option value="2000">2 s</option>
        </select>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-3">Grado de Árboles B</div>
      <div class="col-md-3">
        <input type="number" class="form-control" max="5" min="1" >
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-3">Repeticion de Elementos:</div>
      <div class="col-md-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox">
        </div>
      </div>
    </div>
  </div>
</div>


