

<div class="container ">
  <app-opciones (opcionesEvento)="getOpciones($event)"></app-opciones>
    <h1 class="fw-light text-white">Grafo En Anchura</h1>
    <hr>
    <div class="row">
      <div ><input #agregar type="text"  placeholder="nodo" [(ngModel)]="ag" >
        <button id="Agregar" class="btn btn-primary" style="margin: 5px" (click)="Add(agregar.value)">Agregar</button>
        <button id="Eliminar" class="btn btn-danger" style="margin: 10px" (click)="delete(agregar.value)">Eliminar</button>
        <input #actual type="text" style="margin: 5px" placeholder="vertice inicio" [(ngModel)]="ag1">
        <input #actual1 type="text" style="margin: 5px" placeholder="vertice fin" [(ngModel)]="ag2">
        <input #actual2 type="text" style="margin: 5px" placeholder="peso" [(ngModel)]="ag3">
        <button id="Modificar" class="btn btn-primary" style="margin: 5px" (click)="Add2(actual.value,actual1.value,actual2.value)" >insertar aristas</button>
      </div>

      <div  >
        <input #m1 type="text" style="margin: 5px" placeholder="nodo" [(ngModel)]="ag4">
        <input #m2 type="text" style="margin: 5px" placeholder="new valor" [(ngModel)]="ag5">
        <button id="modificar1" class="btn btn-primary" style="margin: 5px" (click)="modi(m1.value,m2.value)"  >Modificar <span class=".glyphicon-search"></span></button>
        <input #bus1 type="text" style="margin: 5px" placeholder="vertice de busquedad" [(ngModel)]="ag6">
        <button id="buscar" class="btn btn-primary" style="margin: 5px" (click)="bus(bus1.value)"  >Buscar  <span class=".glyphicon-search"></span></button>
        <button id="Actualizar" class="btn btn-primary" style="margin: 5px" (click)="actualizar()"  >Actualizar  <span class=".glyphicon-search"></span></button>
        <button id="matriz" class="btn btn-primary" style="margin: 5px" (click)="matriz()"  >Matriz De Adyacencia  <span class=".glyphicon-search"></span></button>
        <button id="Guardar" class="btn btn-primary" style="margin: 5px" (click)="guardar()"  >Guardar json <span class=".glyphicon-search"></span></button>
      </div>

      <div  >
        <input  style="margin: 5px" type="file" id="formFile" (change)="getDocumento($event.target)" >
      </div>
      <div  id="myDiv1"  class="animacion container bg-light"   style="color: blue;"> </div>
      <div>
        <table id="tabla" >
          


        </table>
      </div>






    <hr>


</div>
<br>
<br>
<div >

</div>
