<app-opciones (opcionesEvento)="getOpciones($event)"></app-opciones>

<div class="container mt-3">
    <h1 class="fw-light text-white">Algoritmo de Huffman</h1>
    <hr>
    <div class="row my-3">
        <div class="col-md-10">
            <textarea class="form-control" placeholder="entrada" rows="2" [(ngModel)]="entrada"></textarea>
        </div>
        <div class="col-md">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" (click)="procesar()">Procesar</button>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <input class="form-control" type="file" id="formFile" (change)="getDocumento($event.target)">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div class="d-grid gap-2">
                <button class="btn btn-success button1" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>