.cuadrito{

    width: 8em;
    height: 2em;
    background-color: white;
    
    border: 1px solid black;
    margin: 2em 1em 1em 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black;
    animation: backInUp; 
    animation-duration: 1s; 
    
    /*animation-name: entrada;
    animation-duration: 1s;*/

}
.cuadroAnim{
    
    padding-left: 90px;
    border: none;
}
.eliminado{
    animation: flipOutX; 
    animation-duration: 2s; 
}
.busqueda{
    animation: shakeY;
    animation-duration: 2s;
}
.actualizar{
    animation: tada;
    animation-duration: 2s;
}
#espacio{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
}
.intento{
    background-color: blueviolet;
    text-align: center;
}
.cuadrito2{
    width: 3em;
    height: 2em;
    background-color: white;
    
    border: 1px solid black;
    margin: 2em 1em 1em 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black;
    animation: fadeInUp; 
    animation-duration: 1s; 

}