<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
              <!--<h1 class="text-white">TytusDS</h1>-->
              <p>
                UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
                <span>
                    TytusDS
                </span>
                &mdash; ESTRUCTURA DE DATOS &mdash;
            </p>
            </div>

        </div>
        <br><br><br><br><br><br><br><br>
        <div class="row mt-5">
        <div  class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
            <br>
            ​<img class="card-img-top" src="https://visualgo.net/img/gif/hashtable.gif" alt="Card image cap">
            <br>
            <div class="card-body text-white">
                <a class="nav-link text-white" routerLink="/hashabierta" ><h3 style="color:#e67e17"> Tabla Hash</h3></a>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
            <br>
            ​<img class="card-img-top" src="https://thumbs.gfycat.com/CarefulThirdChital-size_restricted.gif" alt="Card image cap" alt="Stickman" width="350" height="220">
            <br>
            <div class="card-body text-white">
                <a class="nav-link text-white" routerLink="/huffman" ><h3 style="color:#e67e17"> Arbol AVL</h3></a>
                
            </div>
        </div>
    </div>

    
    </div>

</body>