<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <!--<h1 class="text-white">TytusDS</h1>-->
                <p>
                    UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
                    <span>
                        TytusDS
                    </span>
                    &mdash; ESTRUCTURA DE DATOS &mdash;
                </p>
            </div>

        </div>
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <img class="card-img-top" src="https://i.pinimg.com/originals/81/52/58/81525851413fac11dca44e57076b396a.gif" alt="Card image cap">
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/estructuraLineales" ><h3 style="text-align: center;" style="color:#e67e17"> Estructura Lineales</h3></a>
                    
                </div>
            </div>

            <div  id="cabecera" style="background-color: #1f1d1d " class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br>
                <img class="card-img-top" src="https://assets.digitalocean.com/articles/alligator/js/quick-sort/quick-sort-animation.gif" alt="Card image cap">
                <br><br><br>
                <div class="card-body text-orange">
                    <a class="nav-link text-orange" routerLink="/Ordenamiento" ><h3 style="text-align: center;" style="color:#e67e17"> Ordenamientos</h3></a>
                    
                </div>
            </div>
            
            <div  class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                
                <img class="card-img-top" src="https://miro.medium.com/max/800/1*bOxDNmWX_nL4W4qB-ey0VQ.gif" alt="Card image cap">
                
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/estructuraArborea" ><h3 style="text-align: center;" style="color:#e67e17"> Estructuras Arbóreas</h3></a>
                    
                </div>
            </div>


            <div  class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                
                <img class="card-img-top" src="https://i.pinimg.com/originals/b2/44/00/b244002ffbf74e1a80fe872d5c9bddf2.png" alt="Card image cap">
                
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/compuestas" ><h3 style="text-align: center;" style="color:#e67e17"> Estructuras Compuestas</h3></a>
                    
                </div>
            </div>

            <div  class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                
                <img class="card-img-top" src="https://deloitte.wsj.com/cio/files/2017/10/2.-Algorithmic-risk-FEATURE-IMAGE.png" alt="Card image cap">
                
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/NoLineales" ><h3 style="text-align: center;" style="color:#e67e17"> Estructuras No Lineales</h3></a>
                    
                </div>
            </div>



        </div>
    </div>

</body>