<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <h1 class="text-white">TytusDS</h1>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <img class="card-img-top" src="https://visualgo.net/img/gif/list.gif" alt="Card image cap">
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/estructuraLineales" ><h3 style="text-align: center;"> Estructura Lineales</h3></a>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <img class="card-img-top" src="https://visualgo.net/img/gif/sorting.gif" alt="Card image cap">
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/Ordenamiento" ><h3 style="text-align: center;"> Ordenamientos</h3></a>
                    
                </div>
            </div>
        </div>
    </div>

</body>