body {
  min-height: 100vh;
  background-color: #FAFAFA;
}

.container {
  position: relative;
  z-index: 9999;
  
}

.opciones{
  background-color:#B43E60;
}

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
}

.svg {
  position: "absolute";
  top: "0";
  left: "0";
  width: "100%";
  height: "100vh";
  z-index: "0";
}
