<app-opciones></app-opciones>
<h1>Listas Circulares</h1>
<br>
<div>
  <!--AGREGAR-->
  <input #agregar type="text" placeholder="data a agregar">
  <button id="Agregar" class="button btn btn-success" (click)="Add(agregar.value)">Agregar</button>
  <input type="text" placeholder="nodo a eliminar">
  <button id="Eliminar" class="button">Eliminar</button>
  <input type="text" placeholder="nodo a actualizar">
  <input type="text" placeholder="nuevo texto">
  <button id="Actualizar" class="button">Actualizar</button>
</div>
