<app-opciones></app-opciones>

<div class="container">
    <h1>Listas Circulares</h1>
    <hr>
    <br>
    <!--AGREGAR-->

    <div class="row">
        <div class="col-3"><input #agregar type="text" placeholder="data a agregar"> </div>
        <div class="col-3"><input #eliminar type="text" placeholder="nodo a eliminar"> </div>
        <div class="col-3"><input #valor type="text" placeholder="nodo a actualizar"> </div>
        <div class="col-3"><input #nuevo_valor type="text" placeholder="nuevo texto"> </div>
    </div>
    <div class="row">
        <div class="col-3"> <button id="Agregar" class="btn btn-success button1" (click)="Add(agregar.value)">Agregar</button></div>
        <div class="col-3"> <button id="Eliminar" class="button1 btn btn-success" (click)="delete(eliminar.value)">Eliminar</button></div>
        <div class="col-3"> <button id="Actualizar" class="button1 btn btn-success" (click)="update(valor.value,nuevo_valor.value)">Actualizar</button></div>
    </div>
</div>
<br>
<br>
<div class="animacion container" id="contenedor">

</div>