<div [@routerTransition]>
    <h4>{{tituloLista}}</h4>
    <div class="row">
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <input class="form-control" placeholder="Ingresar valor" [(ngModel)]="valorNodoInsertar" />
                </div>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3 text-center my-auto">
                <div class="card-body align-items-center" >
                    <button class="btn btn-secondary mr-3" type="button" (click)="clickAgregarNodo()">{{lblBtnAgregar}}</button>
                    <button class="btn btn-secondary" type="button" (click)="clickBorrarNodo()">{{lblBtnBorrar}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="card mb-3 text-center my-auto" *ngIf="!(idTipoLista==5||idTipoLista==6)">
                <input class="form-control" placeholder="Indice 0..n" [(ngModel)]="valorIndiceActualizar" />
                <input class="form-control" placeholder="Valor a actualizar" [(ngModel)]="valorNodoActualizar" />
                <button class="btn btn-secondary" type="button" (click)="clickActualizarNodo()">Actualizar</button>
            </div>
        </div>
        <div class="col-xs-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body" *ngIf="!(idTipoLista==5||idTipoLista==6)">
                    <label>Operar al: </label>
                    <mat-radio-group aria-label="Select an option" class="example-radio-group"
                    [(ngModel)]="opcionOperar" >
                        <mat-radio-button value="Inicio" disabled="{{idTipoLista==5||idTipoLista==6}}">Inicio</mat-radio-button>
                        <mat-radio-button value="Final" disabled="{{idTipoLista==5||idTipoLista==6}}">Final</mat-radio-button>
                    </mat-radio-group>
                    <div>Seleccion: {{opcionOperar}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
                <small><label>JSON a cargar &#123;"categoria":"Estructura Lineal","nombre":"{{tituloLista}}","valores":["n1","n2",..]&#125;</label></small>
                <textarea class="form-control" rows="2" [(ngModel)]="strCarga"></textarea>
                <button class="btn btn-secondary" type="submit" (click)="clickCargar()">Cargar a lista dinamica</button>
            </fieldset>
        </div>
        <div class="col-xl-6 text-xs-center">
            <fieldset class="form-group">
                <label>JSON salida</label>
                <textarea class="form-control" rows="2">{{listaEnlJSon}}</textarea>
                <button class="btn btn-secondary" type="submit">Guardar</button>
            </fieldset>
        </div>
    </div>   
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                    <canvas #canvas width="1000" height="500"></canvas>
                    <!--<button (click)="play()">Play</button>-->
                </div>
            </div>
        </div>
    </div> 
</div>