<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hash Abierta</title>
    <link rel="icon" href="../static/image/icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/templates.css">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: rgb(48, 71, 94)">
        <a class="navbar-toggler" href="https://diego1399.github.io/tytusds/20211SVAC/G10/index.html" style="border: 1px solid rgb(34, 40, 49);">
            <span class="navbar-toggler-icon"></span>
        </a>
        <h1>Tabla Hash Abierta</h1>
    </nav>

    <div class="row">
        <div class="col-3 columna1">
            <div class="row configuracion">
                <div class="row">
                    <div class="col-6"><label for="size" >Tamaño:</label></div>
                    <div class="col-6"><input type="number" min="1" id="size"></div>
                </div>
                <div class ="row">
                    <div class="col-6"><label for="minimo" >Rango Minimo:</label></div>
                    <div class="col-6"><input type="number" min="1" id="minimo"></div>
                </div>
                <div class="row">
                    <div class="col-6"><label for="maximo" >Rango Maximo:</label></div>
                    <div class="col-6"><input type="number" min="1" id="maximo"></div>
                </div>
                <div class="col-6"><button id="crear">Crear</button></div>
                <div class="row">
                    <div class="col-3"><label for="">Función:</label></div>
                    <div class="col-8 align-self-end">
                        <select name="" id="funcion">
                            <option value="Division">División</option>
                            <option value="Multiplicacion">Multiplicación</option>
                            <option value="Simple">Simple</option>
                        </select>
                    </div>
                </div>
            </div>
            

            <div class="row formulario">
                <form action="#" method="POST" class="form" id="form1">
                    <div class="row">
                        <div class="col-1 col_label"><label for="dato" class="form_label">&plus;</label></div>
                        <div class="col-9 col_input"><input type="text" name="" id="dato" placeholder="Dato"></div>
                    </div>
                </form>
                <div id="oculto">
                    <div class="row">
                        <div class="col-1 col_label" style="margin: 0 5px;"><label for="dato" class="form_label labe">&lrhar;</label></div>
                        <div class="col-9 col_input"><input type="text" name="" id="dato2" placeholder="Nuevo dato"></div>
                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-6 align-self-end"><button class="boton" id="cambiar">Cambiar</button></div>
                    </div>
                </div>
            </div>

            <div class="row tablero">
                <div class="col-6"><button class="boton" id="agregar">Agregar</button></div>
                <div class="col-6 align-self-end"><button class="boton" id="buscar" >Buscar</button></div>
                
            </div>
            <div class="row">
                <div class="col-6"><button class="boton" id="actualizar" >Actualizar</button></div>
                <div class="col-6 align-self-end"><button class="boton" id="eliminar" >Eliminar</button></div>
            </div>
            
            <div class="row archivo">
                <div class="row ">
                    <form action="#" method="POST" class="form" id="form3">
                        <div class="row formulario">
                            <div class="col-12"><label for="dato">Leer archivo JSON</label></div>
                            <div class="col-12 col_input">
                                <input type="file" name="" id="file" accept=".json">
                            </div>
                            <div class="col-12"><label for="dato" id="mensaje"></label></div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-6"><button class="boton" id="cargar">Cargar</button></div>
                    <div class="col-6"><button class="boton" id="guardar" >Guardar</button></div>
                </div>
            </div>
        </div>

        <div class="col-9 columna2">
            <div class="row">
                <div class="panel"><canvas id='lienzo' width="1000" height="1700"></canvas></div>
            </div>
            <div class="row">
                <div class="controles">
                    <div class="row">
                        <div class="col-1">
                            <label for="velocidad" class="velocidad_lb">Velocidad</label>
                        </div>
                    </div>
                    <input type="range" id="velocidad" name="velocidad" min="1" max="5">
                    <label for="velocidad" id="numero" class="velocidad_lb">3</label>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="../Estructuras Lineales/javascript/listaDoble.js"></script>-->
    <!--<script src="scripts/hash_Abierta.js"></script>-->
    <script src="scripts/hashabierta.js"></script>
</body>
</html>