<body class="rounded shadow-lg o-hidden border-0 my-5 text-white masthead" style="background:url('assets/Imagenes/fondo3.jpg'); background-size:cover;">
<button class="btn btn-primary btn-block text-white" type="submit" onclick="add()">
<em class="fas fa-list"></em>
Lista Simplemente Enlazada
</button>
<input type="text" #box placeholder="Ingrese Datos" name="username"/> 
<button (click)="getValue(box.value)" >Push</button>
<p>La lista es: {{displayVal}}</p>
<button class="btn btn-primary btn-block text-white" type="submit" onclick="download('hola.js','hola')">Guardar Areglo</button>
<input type="file" onchange="onChange(event)">
  <div id="divInsert" style="position: absolute;">
    <div id="divInsert1" style="position: absolute; top: 0px; left: 0px;"></div>
  <div id="divInsert">
  </div>  
|<!--<button class="btn btn-primary btn-block text-white" type="submit" (click)="calladd(box.value)">Enviar</button>-->
<!--<button class="btn btn-primary btn-block text-white" type="submit" onclick="add()">Enviar</button> Falta trabajar-->
