#divInsert{
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    color:white;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding-right:5px;
    padding-left: 5px;
}

#divInsert1{
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    color:white;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    
    padding-right:5px;
    padding-left: 5px;
    position:relative;
}
/*#div1{
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    color:white;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    
    padding-right:5px;
    padding-left: 5px;
    position:relative;

    /*animaciones
    animation-duration: 100s;
}
*/