.circle {
    width: 135px;
    height: 135px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #000;
    position: absolute;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left{
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    position: absolute;
}
.arrow-right,
.long-arrow-right{
    transform: rotate(170deg);
}

.arrow-left,
.long-arrow-left{
    transform: rotate(-95deg);
}
.long-arrow-right::after,
.long-arrow-left::after{
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: black;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}
