

<app-opciones></app-opciones>

<div class="container mt-3">
    <h1 class="fw-light">Pila</h1>
    <hr>

    <div class="row">
      <div ><input #agregar type="text"  placeholder="Valor" >
        <button id="Agregar" class="btn btn-primary" style="margin: 5px" (click)="Add(agregar.value)">Agregar</button>
        <button id="Eliminar" class="btn btn-danger" style="margin: 10px" (click)="delete()">Eliminar</button>
        <input #buscar type="text"  placeholder="Buscar"> 
        <button id="Buscar" class="btn btn-primary" style="margin: 5px" (click)="bus(buscar.value)"  >Buscar  <span class=".glyphicon-search"></span></button>
      </div>

      <div >
        <input #nuevo_valor type="text"  placeholder="Nuevo Valor"> 
        <button id="Modificar" class="btn btn-primary" style="margin: 5px" (click)="modi(buscar.value,nuevo_valor.value)" >Modificar</button>
        <input class="form-control" style="margin: 5px" type="file" id="formFile" (change)="getDocumento($event.target)" >
      </div>

    </div>

    
    
    <div id="myDiv">
        <div  id="myDiv1" style="color: blue;">

        </div>
    </div>
</div>
<br>
<br>
<div >

</div>
