<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>TyTusDS</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template *ngFor="let slider of sliders" ngbSlide>
                    <img
                        [src]="slider.imagePath"
                        alt="Random first slide"
                        class="img-fluid mx-auto d-block"
                        width="100%"
                    />
                    <div class="carousel-caption">
                        <h3>{{ slider.label }}</h3>
                        <p>{{ slider.text }}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr />