<header class="rounded shadow-lg o-hidden border-0 my-5 text-center text-white masthead" style="background:url('assets/Imagenes/Fondo2.jpg')no-repeat center center;background-size:cover;">
<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block text-white" [routerLink]="['/burbuja']">
                <em class="fas fa-bar-chart-o"></em>
                   Ordenamiento Burbuja
                    
                </button>
                <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/seleccion']">
                <em class="fas fa-bar-chart-o"></em>
                    Ordenamiento De Seleccion
                </button>

                   <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/insercion']">
                   <em class="fas fa-bar-chart-o"></em>
                    Ordenamiento De Insercion
                     
                   </button>
                   <button  class="btn btn-primary btn-block text-white btn-user" [routerLink]="['/rapido']">
                   <em class="fas fa-bar-chart-o"></em>
                     Ordenamiento Rapido
                   </button>
                  
            </div>
        </div> 
</div>        
