.Actbar {
    width: 100%;
    padding: 0.5rem 0;
    background-image: linear-gradient(to right, #B5EAD7 , #C7CEEA);
  }
  
.Navbar_text {
    color: #ffffff;
    display: flex;
    font-size: 25px;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
  }