.Button{
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 380px;
}

.Button_header {
  padding: 0.5rem 0;
  height: 50px;
  background: #1B1B25;
}

.Button_section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3rem 0;
}

.Button_section-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #F4F4F7;
}

.Button_logo{
    width: 280px;
    height: 200px;
}

.Button:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  font-variant-caps: #0000;
  text-decoration: none;
}

.Button_right {
  background-image: linear-gradient(to bottom right, #B5EAD7, #E2F0CB );
}

.Button_ {
  background-image: linear-gradient(to bottom, #B5EAD7, #E2F0CB );
}

.Button_left {
  background-image: linear-gradient(to bottom left, #B5EAD7, #E2F0CB );
}

.Top_right {
  background-image: linear-gradient(to top right, #B5EAD7, #E2F0CB );
}

.Top_button {
  background-image: linear-gradient(to top, #B5EAD7, #E2F0CB );
}

.Top_left {
  background-image: linear-gradient(to top left, #B5EAD7, #E2F0CB );
}



.Button_right1 {
  background-image: linear-gradient(to bottom right, #FFDAC1, #E2F0CB );
}

.Button_1 {
  background-image: linear-gradient(to bottom, #FFDAC1, #E2F0CB );
}

.Button_left1 {
  background-image: linear-gradient(to bottom left, #FFDAC1, #E2F0CB );
}

.Top_right1 {
  background-image: linear-gradient(to top right, #FFDAC1, #E2F0CB );
}

.Top_button1 {
  background-image: linear-gradient(to top, #FFDAC1, #E2F0CB );
}

.Top_left1 {
  background-image: linear-gradient(to top left, #FFDAC1, #E2F0CB );
}