.tablaDa{
    width: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 15px;
    
}

.columnaDatos{
    border: 2px solid black;
    padding: 5px;
    width: 70px;
    font-weight: bold;
}
.cuadroAnim{
    margin-left: 330px;
}