<div class="container">
  <app-opciones (opcionesEvento)="getOpciones($event)"></app-opciones>
  <h1 class="text-white">Matriz Dispersa</h1>
  <hr>
  <div class="row py-2">
    <div class="col-1"><input #agregar type="text" placeholder="Valor" class="form-control"> </div>
    <div class="col-1"><input #fil type="text" placeholder="Fila" class="form-control"> </div>
    <div class="col-1"><input #Col type="text" placeholder="Columna" class="form-control"> </div>
    <div class="col-1"> <button id="Agregar" class="btn btn-success button1" (click)="Add(agregar.value,fil.value,Col.value)">Agregar</button></div>
    <div class="col-1"><input #eliminar type="text" class="form-control" placeholder="Valor"> </div>
    <div class="col-1"> <button id="Eliminar" class="button1 btn btn-success" (click)="delete(eliminar.value)">Eliminar</button></div>
    <div class="col-2"><input #valor type="text" class="form-control" placeholder="Nodo a actualizar"> </div>
    <div class="col-2"><input #nuevo_valor type="text" class="form-control" placeholder="Nuevo Valor"> </div>
    <div class="col-1"> <button id="Actualizar" class="button1 btn btn-success" (click)="update(valor.value,nuevo_valor.value)" >Actualizar</button></div>
  </div>
  <div class="row py-1 pb-2">
    <div class="col-1"><input #search type="text" class="form-control" placeholder="Buscar" ></div>
    <div class="col-1"><button class="btn btn-success button1" (click)="buscar(search.value)">Buscar</button></div>
    <div class="col-md-1 text-white">Cabeceras:</div>
    <div class="col-md-1">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" [(ngModel)]="SC_Cabecera">
      </div>
    </div>
    <div class="col-md-6"><input class="form-control" type="file" id="formFile" (change)="getDocumento($event.target)" ></div>

  </div>

  <!----CAJA DONDE SE GUARDARA LA GRAFICACIÓN DE LOS NODOS---->
  <div class="animacion container bg-light" id="contenedor">
  </div>
  <!----------------------------------------------------------->
  <div class="container">
    <div class="row pt-2">
      <div class="col-3" ><button class="btn btn-success button1" (click)="guardar()">Guardar</button></div>
    </div>
  </div>

</div>
