<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                 <!--<h1 class="text-white">TytusDS</h1>-->
                 <p>
                    UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
                    <span>
                        TytusDS
                    </span>
                    &mdash; ESTRUCTURA DE DATOS &mdash;
                </p>
            </div>

        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br>
                ​<img src="https://poo.clicksexceedraft.pw/img/6c4db0418af6d6fbe25d29313ca15b8b.gif" alt="Stickman" width="300" height="220">
                <br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/burbuja" ><h3 style="text-align: center;" style="color:#e67e17"> Ordenamiento Burbuja</h3></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br>
                ​<img src="https://miro.medium.com/max/1080/1*pykGPsjpwHGkp2zsXX4pLw.gif" alt="Stickman" width="300" height="220">
                <br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/seleccion" ><h3 style="text-align: center;" style="color:#e67e17"> Ordenamiento Seleccion</h3></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br>
                ​<img src="https://i.imgur.com/fo1Yw1j.gif" alt="Stickman" width="300" height="220">
                <br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/rapido" ><h3 style="text-align: center;" style="color:#e67e17"> Ordenamiento Rapido</h3></a>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 w-100 col-sm-6 mb-2 ">
                <br>
                ​<img src="https://1.bp.blogspot.com/-EcNbdFw9tmg/X8oBlMwy5lI/AAAAAAAAZlg/scRX-IbgXRM7b1qACxKwI8izX6H9G_77wCLcBGAsYHQ/w640-h360/Insertionsort.gif" alt="Stickman" width="300" height="220">
                <br>
                <div class="card-body text-white">
                    <a class="nav-link text-white" routerLink="/ordenamiento/insercion"><h3 style="text-align: center;" style="color:#e67e17"> Ordenamiento Insercion</h3></a>
                    

                </div>
            </div>
        </div>




    </div>

</body>