.Link_text{
    color: #1B1B25;
    text-decoration: none;
}

.Center{
  justify-content: center;
  position: relative;
}

.Center2{
  justify-content: center;
  height: auto;
  width: auto;
  padding: 2rem;
  
}

.HW{
  height: 380px;
  width: 380px;
}