.Contenedor{
    text-align: center;
    height: 380px;
    width: 400px;
    padding: 2.3rem 0;
}

.Error_titulo{
    font-size: 200px;
    font-weight: 900;
    font-family: sans-serif;
    align-content: center;
    background: linear-gradient(to bottom right, #C7CEEA, #FF9AA2 );
    background-clip: 0;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}