<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<div>

  <nav aria-label="breadcrumb" class="navbar navbar-dark bg-primary" >
    <div class="d-flex justify-content-between">
      <a class="navbar-brand"  class = "text-center"  href="#">
        TytusDs
      </a>
      <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Algoriotmo Hamming</li>
      </ol>
    </div>


  </nav>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary">

      <form class="form-inline" >
        <input class="form-control mr-sm-2 " #data type="text" placeholder="Cadena de Caracteres/Bits" aria-label="Agregar">
        
        <button class="btn btn-outline-light mr-sm-2" type="submit" (click)="getString(data.value)">Codificar Caracteres</button>
        <button class="btn btn-outline-light mr-sm-2" type="submit" (click)="getBit(data.value)">Codificar Bits</button>

        <input style="display:none;" type="file" (change)="abrir($event)" #archivo>
        <button (click)="archivo.click()" type="button" class="btn btn-outline-light mr-sm-2">Cargar</button>
        <button (click)="descargarContenido()" class="btn btn-outline-light mr-sm-2" type="submit">Guardar</button>
        
      <input  class="form-control mr-sm-2" type="text" #animacion placeholder="Animacion" aria-label="Animacion">
      <button class="btn btn-outline-light mr-sm-2" type="button">Animacion</button>
      </form>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">Hamming code:</h1>
      <h4 class="mb-3" id="code"></h4>
      


      <table id="tablehm" class="table table-bordered">
        <thead>
          <tr id="header">
            <th scope="col">Value</th>
            <th scope="col">P1</th>
            <th scope="col">P2</th>
            <th scope="col">D1</th>
            <th scope="col">P4</th>
            <th scope="col">D2</th>
            <th scope="col">D3</th>
            <th scope="col">D4</th>
            <th scope="col">P8</th>
            <th scope="col">D5</th>
            <th scope="col">D6</th>
            <th scope="col">D7</th>
            <th scope="col">D8</th>
            <th scope="col">D9</th>
            <th scope="col">D10</th>
            <th scope="col">P11</th>
            <th scope="col">P16</th>
            <th scope="col">D12</th>
            <th scope="col">D14</th>
            <th scope="col">D15</th>
          </tr>
        </thead>
        <tbody id="valores">
          <tr id="datos">
            <th scope="row">Datos</th>
          </tr>
          <!-- <tr>
            <th scope="row">P1</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th scope="row">P2</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th scope="row">P4</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th scope="row">P16 </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th scope="row">Resultado</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr> -->
        </tbody>
      </table>
    </div>
    <!-- Jumbotron -->


  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >


  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Ingreso
          </h6>
          <!-- Default radio -->


<!-- Default checked radio -->
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefaultRepeticion"
    id="alinicio"
    checked
  />
  <label class="form-check-label" for="alinicio"> Al inicio </label>
</div>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefaultRepeticion"
    id="alfinal"
  />
  <label class="form-check-label" for="alfina"> Al final </label>
</div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Repetición
          </h6>
          <!-- Default checked radio -->
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefaultActivacion"
    id="desacivada"
    checked
  />
  <label class="form-check-label" for="desactivada"> Desactivada </label>
</div>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefaultActivacion"
    id="activada"
  />
  <label class="form-check-label" for="activada"> Activada </label>
</div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Velocidad de animación
          </h6>
<div class="range">
  <input type="range" class="form-range" min="0" max="5" id="customRange2" />
</div>
        </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">EDD</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</div><style id="iw-user-style"></style><script id="iw-user-script"></script>
