/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,#1C1C1C,#E6E6E6);
}
.animacion {
    height: 400px;
}

